@import 'theme.scss';

.serviceItem {
  display: flex;
  min-width: 300px;
  margin: 80px auto auto 0;
  font-family: 'Work Sans', sans-serif;
}

.serviceItem__reverse {
  flex-direction: row-reverse;
}

.serviceItem__column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceItem__column--left {
  justify-content: flex-start;
}

.serviceItem__column--right {
  justify-content: flex-end;
}

.serviceItem__image {
  min-width: 300px;
  height: 400px;
  object-fit: cover;
  margin-top: 40px;
}

.serviceItem__content {
  padding: 80px;
  padding-top: 0;
  .serviceItem__category {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0c0c3;
    text-align: center;
  }
  .serviceItem__title {
    color: $secondary-color;
    font-weight: 400;
    font-size: 2em;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .serviceItem__description {
    margin: 40px auto;
    text-align: justify;
    min-width: 300px;
    height: auto;
    max-width: 500px;
    color: rgba(139, 139, 146, 1);
    line-height: 1.8;
    font-size: 16px;
  }
  .serviceItem__link-btn {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .serviceItem__link-btn {
    background-color: rgba($color: $primary-color, $alpha: 0.7);
    a {
      color: #fff;
    }
    &:hover {
      background-color: transparent;
      border: 1px solid $primary-color;
      a {
        color: $primary-color;
      }
    }
  }
}

.green-shadow {
  -webkit-box-shadow: 15px 15px 0px 0px rgba(44, 163, 127, 0.63);
  -moz-box-shadow: 15px 15px 0px 0px rgba(44, 163, 127, 0.63);
  box-shadow: 15px 15px 0px 0px rgba(44, 163, 127, 0.63);
}

.blue-shadow {
  -webkit-box-shadow: 15px 15px 0px 0px rgba(9, 40, 52, 0.6);
  -moz-box-shadow: 15px 15px 0px 0px rgba(9, 40, 52, 0.6);
  box-shadow: 15px 15px 0px 0px rgba(9, 40, 52, 0.6);
}

@media only screen and (max-width: 991px) {
  .serviceItem__column--left,
  .serviceItem__column--right {
    justify-content: center;
  }
  .serviceItem__content,
  .serviceItem__image {
    margin-left: 0 !important;
  }
}

.ml-xs {
  margin-left: 10px;
}
