@import 'theme.scss';

.navbar {
  height: 84px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2em;
  z-index: 2;
}

.navBar__logo {
  height: 100%;
  flex: 1;

  img {
    height: 64px;
    width: auto;
    object-fit: contain;
    margin: 10px;
    cursor: pointer;
  }
}

.navBar__links-container {
  button {
    text-transform: capitalize;
    margin: auto 15px;
    font-weight: 700;
  }

  button,
  button:active,
  button:visited,
  button:link,
  button:focus {
    background-color: transparent;
    border: none;
    color: #fff;

    &:hover {
      a {
        background-color: transparent;
        color: $primary-color !important;
        transition: color 0.5s;
      }
    }

    &:hover::after {
      animation: expand-line 0.35s ease-in-out forwards;
      transition: all 0.5s;
    }
  }

  button::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: $primary-color;
    bottom: 0;
    left: 5%;
    width: 0%;
  }
}

.navBar__active-link {
  background-color: transparent;
  color: $primary-color !important;
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: $primary-color;
    bottom: 0;
    left: 5%;
    width: 90% !important;
  }
}

@keyframes expand-line {
  from {
    width: 0%;
  }

  to {
    width: 90%;
  }
}

@-webkit-keyframes expand-line {
  from {
    width: 0%;
  }

  to {
    width: 90%;
  }
}

@keyframes appear-from-top {
  from {
    transform: translateY(-120%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes appear-from-top {
  from {
    transform: translateY(-120%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.navbar__drawer {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      .ant-drawer-wrapper-body {
        .ant-drawer-body {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 80px 0;
          background: $base-gradient;
          button {
            margin: 10px auto;
            margin-bottom: 0;
            text-transform: uppercase;
            width: 100%;
            color: #fff;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:active {
              background-color: rgb(213, 213, 213);
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.navBar__links-container--mobile {
  display: none;
  button,
  button:active,
  button:visited,
  button:link,
  button:focus {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.6em;

    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }
}

@media only screen and (max-width: 749px) {
  .navBar__links-container--desktop {
    display: none;
  }
  .navBar__links-container--mobile {
    display: flex;
  }
}
