.navbar {
  height: 84px;
  width: 100%;
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2em;
  z-index: 99; }

.navBar__logo {
  height: 100%;
  flex: 1; }
  .navBar__logo img {
    height: 64px;
    width: auto;
    object-fit: contain;
    margin: 10px;
    cursor: pointer; }

.navBar__links-container button {
  text-transform: capitalize;
  margin: auto 15px;
  font-weight: 700; }

.navBar__links-container button,
.navBar__links-container button:active,
.navBar__links-container button:visited,
.navBar__links-container button:link,
.navBar__links-container button:focus {
  background-color: transparent;
  border: none;
  color: #fff; }
  .navBar__links-container button:hover a,
  .navBar__links-container button:active:hover a,
  .navBar__links-container button:visited:hover a,
  .navBar__links-container button:link:hover a,
  .navBar__links-container button:focus:hover a {
    background-color: transparent;
    color: #2ca380 !important;
    transition: color 0.5s; }
  .navBar__links-container button:hover::after,
  .navBar__links-container button:active:hover::after,
  .navBar__links-container button:visited:hover::after,
  .navBar__links-container button:link:hover::after,
  .navBar__links-container button:focus:hover::after {
    animation: expand-line 0.35s ease-in-out forwards;
    transition: all 0.5s; }

.navBar__links-container button::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #2ca380;
  bottom: 0;
  left: 5%;
  width: 0%; }

.navBar__active-link {
  background-color: transparent;
  color: #2ca380 !important; }
  .navBar__active-link::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #2ca380;
    bottom: 0;
    left: 5%;
    width: 90% !important; }

@keyframes expand-line {
  from {
    width: 0%; }
  to {
    width: 90%; } }

@-webkit-keyframes expand-line {
  from {
    width: 0%; }
  to {
    width: 90%; } }

@keyframes appear-from-top {
  from {
    transform: translateY(-120%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

@-webkit-keyframes appear-from-top {
  from {
    transform: translateY(-120%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

.navbar__drawer .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  background: linear-gradient(0deg, #39e2af 0%, #21b38a 44.32%, #1c9a76 90.53%); }
  .navbar__drawer .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body button {
    margin: 10px auto;
    margin-bottom: 0;
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar__drawer .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body button:active {
      background-color: #d5d5d5;
      color: #2ca380; }

.navBar__links-container--mobile {
  display: none; }
  .navBar__links-container--mobile button,
  .navBar__links-container--mobile button:active,
  .navBar__links-container--mobile button:visited,
  .navBar__links-container--mobile button:link,
  .navBar__links-container--mobile button:focus {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.6em; }
    .navBar__links-container--mobile button:hover,
    .navBar__links-container--mobile button:active:hover,
    .navBar__links-container--mobile button:visited:hover,
    .navBar__links-container--mobile button:link:hover,
    .navBar__links-container--mobile button:focus:hover {
      background-color: transparent;
      color: #2ca380; }

@media only screen and (max-width: 749px) {
  .navBar__links-container--desktop {
    display: none; }
  .navBar__links-container--mobile {
    display: flex; } }
