// colors

$primary-color: #2ca380;
$secondary-color: #082e22;
$bg-color: #2ca380;
$light-green: #d3f3e8;
$base-gradient: linear-gradient(
  180deg,
  #2ca380 0%,
  #24cb9b 44.32%,
  #27e2ac 90.53%
);
